.app-container {
  min-height: 130vh;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.app-store-container {
  background-color: transparent;
  padding: 10px;
}
.main-heading {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 45px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .main-heading {
    font-size: 35px;
  }
}

.search-eelement {
  height: 40px;
  width: 300px;
  color: #000000;
  font-family: 'roboto';
  font-size: 20px;
  background-color: transparent;
  outline: none;
  border-width: 0px;
  padding: 10px;
}
 
@media screen and (max-width: 768px) {
  .search-eelement {
     height: 30px;
     width: 200px;
  }
}
.search-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.search-responsive-container {
  height: 45px;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  border: 2px solid #7b8794;
  margin-bottom: 50px;
  
}

@media screen and (max-width: 768px) {
  .search-responsive-container {
    height: 35px;
    width: 250px;
  }
}
.tap-iteam-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.app-itam-container {
  width: 60vw;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .app-itam-container{

    width: 80vw;
  }
}
.no-apps-content {
 
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.app-list-conatiner {

 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-self: center; 
}
.no-apps-container{
   height: 80vh;
}